# Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database is a storage system where different data can be stored and can be extracted as per the need of the user.

# SQL

SQL stands for Structured Query Language in which the data stored is in tabular form, that is in rows and columns

# NoSql

NoSql stands for not structued query language in which the data can be of any format and will be unstructured in nature

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language and DDL helps to create the schema of the database

1) CREATE
--> Create is used to create tables and the databases
    CREATE TABLE table_name;
 
2) DROP 
--> Drop is used to drop a table from the database
    DROP TABLE tabel_name;
    
3) ALTER
--> Alter is used to change the type or structure of the database 
    ALTER TABLE table_name MODIFY column_name column_type;

4) TRUNCATE
--> Truncate is used to delete a column from a table
    TRUNCATE TABLE table_name;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Data Manipulation Language (DML) commands in SQL deals with manipulation of data records stored within the database tables. It does not deal with changes to database objects and its structure.

1) INSERT

--> Used to insert new data records or rows in the database table


INSERT INTO public.customers(customer_id, sale_date, sale_amount)VALUES (1005,'2019-12-12',4200);
    
2) UPDATE


--> Used to set the value of a field or column for a particular record to a new value


UPDATE customers SET store_state = 'DL';

3) DELETE

--> Used to remove one or more rows from the database table


DELETE FROM customers WHERE customer_id = '1001';

# Q4. What is DQL? Explain SELECT with an example.

DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. 

select * from employee;  

It will display all the rows and columns of the table named as employee

# Q5. Explain Primary Key and Foreign Key.

# Primary Key

A primary key is used to ensure data in the specific column is unique.

It uniquely identifies a record in the relational database table.

# FOREIGN KEY

A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.

It refers to the field in a table which is the primary key of another table.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

In [ ]:
mydb = mysql.connector.connect(

    host = "localhost",
    useranme = "abc",
    password = "password"

)
print(mydb)
mydb.close()

cursor()

cursor is a function that helps to make a pointer that points on the row and columns which can be used to iterate the entire table

execute()

execute command is used to execute the sql clasuses which are written inside it.

# Q7. Give the order of execution of SQL clauses in an SQL query.

SELECT DISTINCT TOP_specification select_list

FROM left_table

join_type JOIN right_table

ON join_condition

WHERE where_condition

GROUP BY group_by_list

HAVING having_condition

ORDER BY order_by_list

1)FROM clause

2)ON clause

3)OUTER clause

4)WHERE clause

5)GROUP BY clause

6)HAVING clause

7)SELECT clause

8)DISTINCT clause

9)ORDER BY clause

10)TOP clause